
__pycache__/
*.pyc


venv/
env/
.env/


.ipynb_checkpoints/

datasets/
data/

uploads/*
!uploads/.gitkeep
.DS_Store
Thumbs.db
.vscode/
.idea/

backend/uploads
emotion_recognition.db
/requirements.txt